<%= form_for(reserve) do |f| %>
<div>
  <%= f.label :name, '姓名' %>
  <%= f.text_field :name %>
	<% if f.object.errors[:name] %>
		<span class='text-red-600'><%= f.object.errors[:name].first %></span>
	<% end %>
</div>

<div>
  <%= f.label :email, '信箱'%>
  <%= f.email_field :email %>
  <% if f.object.errors[:email] %>
		<span class='text-red-600'><%= f.object.errors[:email].first %></span>
	<% end %>
</div>

<div>
  <%= f.label :address, '地址' %>
  <%= f.text_field :address %>
  <% if f.object.errors[:address] %>
		<span class='text-red-600'><%= f.object.errors[:address].first %></span>
	<% end %>
</div>

<div>
  <%= f.label :cellphone, '行動電話'%>
  <%= f.text_field :cellphone %>
  	<% if f.object.errors[:cellphone] %>
			<span class='text-red-600'><%= f.object.errors[:cellphone].first %></span>
		<% end %>
</div>

<div>
  <%= f.label :telephone, '電話'%>
  <%= telephone_field(:reserve, :telephone) %>
</div>

<div>
  <%= f.label :brand, '洗衣機廠牌' %>
  <%= f.text_field :brand, placeholder: '例如:國際、三洋' %>
</div>

<div>
  <%= f.label :genre, '直立式/滾筒式'%>
  <%= f.select :genre,["直立式", "滾筒式"] ,class: 'border-3' %>
</div>
<div>
  <%= f.label :appointment, '預約時間'%>
  <%= f.date_field :appointment%>
  	<% if f.object.errors[:appointment] %>
			<span class='text-red-600'><%= f.object.errors[:appointment].first %></span>
		<% end %>
</div>
<div>
  <%= f.label :remark, '備註'%>
  <%= f.text_area :remark,placeholder: '其他特殊需求' %>
</div>
<div>
  <%= f.submit '送出'%>
</div>
<% end %>
