<h1>預約填單</h1>
<%= form_for @reserve, url: reserve_user_index_path do |f| %>
<div>
<%= f.label :name, '姓名' %>
<%= f.text_field :name %>
</div>

<div>
  <%= f.label :email, '信箱'%>
  <%= f.email_field :email %>
</div>

<div>
  <%= f.label :address, '地址' %>
  <%= f.text_field :address %>
</div>

<div>
  <%= f.label :cellphone, '行動電話'%>
  <%= f.text_field :cellphone %>
</div>

<div>
  <%= f.label :telephone, '電話'%>
  <%= telephone_field(:reserve, :telephone) %>
</div>

<div>
  <%= f.label :appointment, '預約時間'%>
  <%= date_field(:appointment, :born_on)%>
</div>
<div>
  <%= f.submit '送出'%>
</div>
<% end %>

<%# number_to_phone(:telephone, :groupings => [4, 3, 3], :delimiter => "-")  %> 